{
  "openapi": "3.1.0",
  "info": {
    "title": "LoginRadius Authentication API",
    "contact": {},
    "version": "1.0"
  },
  "jsonSchemaDialect": "https://json-schema.org/draft/2020-12/schema",
  "servers": [
    {
      "url": "https://api.loginradius.com/identity/v2/auth",
      "variables": {}
    }
  ],
  "paths": {
    "/email": {
      "post": {
        "tags": [
          "LoginRadius Authentication APIs"
        ],
        "summary": "AuthAddEmail",
        "description": "",
        "operationId": "AuthAddEmail",
        "parameters": [
          {
            "name": "emailtemplate",
            "in": "query",
            "description": "Edit this here",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "description": "REQUIRED: Edit this in your environment",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "REQUIRED: Edit this in your environment",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "verificationurl",
            "in": "query",
            "description": "Edit this here",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthAddEmailRequest"
                  },
                  {
                    "examples": [
                      {
                        "type": "Secondary",
                        "email": "xyz@example.com"
                      }
                    ]
                  }
                ],
                "contentMediaType": "application/json"
              },
              "example": {
                "type": "Secondary",
                "email": "xyz@example.com"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": false
      },
      "get": {
        "tags": [
          "LoginRadius Authentication APIs"
        ],
        "summary": "AuthCheckEmailAvailability",
        "description": "",
        "operationId": "AuthCheckEmailAvailability",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "description": "REQUIRED: Edit this in your environment",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "REQUIRED: Edit this here",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/content-Type"
                },
                {
                  "examples": [
                    "application/x-www-form-urlencoded"
                  ]
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "LoginRadius Authentication APIs"
        ],
        "summary": "AuthVerifyEmailbyOTP",
        "description": "",
        "operationId": "AuthVerifyEmailbyOTP",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "description": "REQUIRED",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "welcomeemailtemplate",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Cache-Control",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "no-cache"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthVerifyEmailbyOTPRequest"
                  },
                  {
                    "examples": [
                      {
                        "otp": "",
                        "email": "",
                        "SecurityAnswer": {
                          "db7****8a73e4******bd9****8c20": "Answer"
                        },
                        "qq_captcha_ticket": "",
                        "qq_captcha_randstr": "",
                        "g-recaptcha-response": ""
                      }
                    ]
                  }
                ],
                "contentMediaType": "application/json"
              },
              "example": {
                "otp": "",
                "email": "",
                "SecurityAnswer": {
                  "db7****8a73e4******bd9****8c20": "Answer"
                },
                "qq_captcha_ticket": "",
                "qq_captcha_randstr": "",
                "g-recaptcha-response": ""
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "LoginRadius Authentication APIs"
        ],
        "summary": "AuthRemoveEmail",
        "description": "",
        "operationId": "AuthRemoveEmail",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "description": "REQUIRED: Edit this in your environment",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "REQUIRED: Edit this in your environment",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthForgotPasswordRequest"
                  },
                  {
                    "examples": [
                      {
                        "email": "xyz@example.com"
                      }
                    ]
                  }
                ],
                "contentMediaType": "application/json"
              },
              "example": {
                "email": "xyz@example.com"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/password": {
      "post": {
        "tags": [
          "LoginRadius Authentication APIs"
        ],
        "summary": "AuthForgotPassword",
        "description": "",
        "operationId": "AuthForgotPassword",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "description": "REQUIRED: Edit this in your environment",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emailtemplate",
            "in": "query",
            "description": "Edit this here",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resetpasswordurl",
            "in": "query",
            "description": "Edit this here",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthForgotPasswordRequest"
                  },
                  {
                    "examples": [
                      {
                        "email": "xyz@example.com"
                      }
                    ]
                  }
                ],
                "contentMediaType": "application/json"
              },
              "example": {
                "email": "xyz@example.com"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "LoginRadius Authentication APIs"
        ],
        "summary": "AuthChangePassword",
        "description": "",
        "operationId": "AuthChangePassword",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "description": "REQUIRED: Edit this in your environment",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "REQUIRED: Edit this in your environment",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthChangePasswordRequest"
                  },
                  {
                    "examples": [
                      {
                        "newpassword": "xxxxxxxxxxx",
                        "oldpassword": "xxxxxxx"
                      }
                    ]
                  }
                ],
                "contentMediaType": "application/json"
              },
              "example": {
                "newpassword": "xxxxxxxxxxx",
                "oldpassword": "xxxxxxx"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/register": {
      "post": {
        "tags": [
          "LoginRadius Authentication APIs"
        ],
        "summary": "AuthUserRegistrationbyEmail",
        "description": "",
        "operationId": "AuthUserRegistrationbyEmail",
        "parameters": [
          {
            "name": "emailtemplate",
            "in": "query",
            "description": "Edit this here",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "description": "REQUIRED: Edit this in your environment",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "verificationurl",
            "in": "query",
            "description": "Edit this here",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sott",
            "in": "query",
            "description": "REQUIRED: Edit this here",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthUserRegistrationbyEmailRequest"
                  },
                  {
                    "examples": [
                      {
                        "Prefix": "",
                        "FirstName": "Test",
                        "MiddleName": null,
                        "LastName": "Account",
                        "Suffix": null,
                        "FullName": "Test Account",
                        "NickName": null,
                        "ProfileName": null,
                        "BirthDate": "10-12-1985",
                        "Gender": "M",
                        "Website": null,
                        "Email": [
                          {
                            "Type": "Primary",
                            "Value": "example@example.com"
                          }
                        ],
                        "Password": "******",
                        "PINInfo": {
                          "PIN": "",
                          "Skipped": true
                        },
                        "Consents": {
                          "Events": [
                            {
                              "Event": "Register",
                              "IsCustom": false
                            }
                          ],
                          "Data": [
                            {
                              "ConsentOptionId": "someid",
                              "IsAccepted": true
                            }
                          ]
                        },
                        "Country": {
                          "Code": "",
                          "Name": "India"
                        },
                        "ThumbnailImageUrl": null,
                        "ImageUrl": null,
                        "Favicon": null,
                        "ProfileUrl": null,
                        "HomeTown": null,
                        "State": "Alberta",
                        "City": "Edmonton",
                        "Industry": null,
                        "About": null,
                        "TimeZone": null,
                        "LocalLanguage": null,
                        "CoverPhoto": null,
                        "TagLine": null,
                        "Positions": [
                          {
                            "Positions": "astronaut",
                            "Summary": "An astronaut.",
                            "StartDate": "",
                            "EndDate": "",
                            "IsCurrent": "",
                            "Location": "",
                            "Company": {
                              "Name": "",
                              "Type": "",
                              "Industry": ""
                            }
                          }
                        ],
                        "Educations": [
                          {
                            "School": null,
                            "year": null,
                            "type": null,
                            "notes": null,
                            "activities": null,
                            "degree": null,
                            "fieldofstudy": null,
                            "StartDate": null,
                            "EndDate": null
                          }
                        ],
                        "PhoneNumbers": [
                          {
                            "PhoneType": "Mobile",
                            "PhoneNumber": "***********"
                          }
                        ],
                        "IMAccounts": [
                          {
                            "AccountType": "personal",
                            "AccountName": "AccountName"
                          }
                        ],
                        "Addresses": [
                          {
                            "Type": "Primary",
                            "Address1": null,
                            "Address2": null,
                            "City": "Edmonton",
                            "State": "Alberta",
                            "PostalCode": null,
                            "Region": null,
                            "Country": "Canada"
                          }
                        ],
                        "MainAddress": null,
                        "LocalCity": null,
                        "ProfileCity": "Edmonton",
                        "LocalCountry": null,
                        "ProfileCountry": "Canada",
                        "IsProtected": false,
                        "RelationshipStatus": null,
                        "Quota": null,
                        "Quote": null,
                        "InterestedIn": [
                          "blah",
                          "blah"
                        ],
                        "Interests": [
                          {
                            "InterestedType": null,
                            "InterestedName": null
                          }
                        ],
                        "Religion": null,
                        "Political": null,
                        "Sports": [
                          {
                            "Id": null,
                            "Name": null
                          }
                        ],
                        "InspirationalPeople": [
                          {
                            "Id": null,
                            "Name": null
                          }
                        ],
                        "HttpsImageUrl": null,
                        "FollowersCount": 0,
                        "FriendsCount": 0,
                        "IsGeoEnabled": null,
                        "TotalStatusesCount": 0,
                        "Associations": null,
                        "NumRecommenders": 0,
                        "Honors": null,
                        "Awards": null,
                        "Skills": null,
                        "CurrentStatus": null,
                        "Certifications": null,
                        "Courses": null,
                        "Volunteer": null,
                        "RecommendationsReceived": null,
                        "Languages": null,
                        "Projects": null,
                        "Games": null,
                        "Family": null,
                        "TeleVisionShow": null,
                        "MutualFriends": null,
                        "Movies": null,
                        "Books": null,
                        "AgeRange": null,
                        "PublicRepository": null,
                        "Hireable": false,
                        "RepositoryUrl": null,
                        "Age": null,
                        "Patents": null,
                        "FavoriteThings": null,
                        "ProfessionalHeadline": null,
                        "ProviderAccessCredential": null,
                        "RelatedProfileViews": null,
                        "LRUserID": null,
                        "PlacesLived": null,
                        "Publications": null,
                        "JobBookmarks": null,
                        "Suggestions": null,
                        "Badges": null,
                        "MemberUrlResources": null,
                        "TotalPrivateRepository": 0,
                        "Currency": null,
                        "StarredUrl": null,
                        "GistsUrl": null,
                        "PublicGists": 0,
                        "PrivateGists": 0,
                        "Subscription": null,
                        "Company": null,
                        "GravatarImageUrl": null,
                        "ProfileImageUrls": null,
                        "WebProfiles": {
                          "Small": "https://graph.facebook.com/*****/picture?type=small",
                          "Square": "https://graph.Profile.com/*****/picture?type=square",
                          "Large": "https://graph.facebook.com/*****/picture?type=large",
                          "Profile": "https://graph.facebook.com/******/picture?type=normal"
                        },
                        "Uid": "xxxx",
                        "CustomFields": null,
                        "IsEmailSubscribed": false,
                        "UserName": null,
                        "PhoneId": "***********"
                      }
                    ]
                  }
                ],
                "contentMediaType": "application/json"
              },
              "example": {
                "Prefix": "",
                "FirstName": "Test",
                "MiddleName": null,
                "LastName": "Account",
                "Suffix": null,
                "FullName": "Test Account",
                "NickName": null,
                "ProfileName": null,
                "BirthDate": "10-12-1985",
                "Gender": "M",
                "Website": null,
                "Email": [
                  {
                    "Type": "Primary",
                    "Value": "example@example.com"
                  }
                ],
                "Password": "******",
                "PINInfo": {
                  "PIN": "",
                  "Skipped": true
                },
                "Consents": {
                  "Events": [
                    {
                      "Event": "Register",
                      "IsCustom": false
                    }
                  ],
                  "Data": [
                    {
                      "ConsentOptionId": "someid",
                      "IsAccepted": true
                    }
                  ]
                },
                "Country": {
                  "Code": "",
                  "Name": "India"
                },
                "ThumbnailImageUrl": null,
                "ImageUrl": null,
                "Favicon": null,
                "ProfileUrl": null,
                "HomeTown": null,
                "State": "Alberta",
                "City": "Edmonton",
                "Industry": null,
                "About": null,
                "TimeZone": null,
                "LocalLanguage": null,
                "CoverPhoto": null,
                "TagLine": null,
                "Positions": [
                  {
                    "Positions": "astronaut",
                    "Summary": "An astronaut.",
                    "StartDate": "",
                    "EndDate": "",
                    "IsCurrent": "",
                    "Location": "",
                    "Company": {
                      "Name": "",
                      "Type": "",
                      "Industry": ""
                    }
                  }
                ],
                "Educations": [
                  {
                    "School": null,
                    "year": null,
                    "type": null,
                    "notes": null,
                    "activities": null,
                    "degree": null,
                    "fieldofstudy": null,
                    "StartDate": null,
                    "EndDate": null
                  }
                ],
                "PhoneNumbers": [
                  {
                    "PhoneType": "Mobile",
                    "PhoneNumber": "***********"
                  }
                ],
                "IMAccounts": [
                  {
                    "AccountType": "personal",
                    "AccountName": "AccountName"
                  }
                ],
                "Addresses": [
                  {
                    "Type": "Primary",
                    "Address1": null,
                    "Address2": null,
                    "City": "Edmonton",
                    "State": "Alberta",
                    "PostalCode": null,
                    "Region": null,
                    "Country": "Canada"
                  }
                ],
                "MainAddress": null,
                "LocalCity": null,
                "ProfileCity": "Edmonton",
                "LocalCountry": null,
                "ProfileCountry": "Canada",
                "IsProtected": false,
                "RelationshipStatus": null,
                "Quota": null,
                "Quote": null,
                "InterestedIn": [
                  "blah",
                  "blah"
                ],
                "Interests": [
                  {
                    "InterestedType": null,
                    "InterestedName": null
                  }
                ],
                "Religion": null,
                "Political": null,
                "Sports": [
                  {
                    "Id": null,
                    "Name": null
                  }
                ],
                "InspirationalPeople": [
                  {
                    "Id": null,
                    "Name": null
                  }
                ],
                "HttpsImageUrl": null,
                "FollowersCount": 0,
                "FriendsCount": 0,
                "IsGeoEnabled": null,
                "TotalStatusesCount": 0,
                "Associations": null,
                "NumRecommenders": 0,
                "Honors": null,
                "Awards": null,
                "Skills": null,
                "CurrentStatus": null,
                "Certifications": null,
                "Courses": null,
                "Volunteer": null,
                "RecommendationsReceived": null,
                "Languages": null,
                "Projects": null,
                "Games": null,
                "Family": null,
                "TeleVisionShow": null,
                "MutualFriends": null,
                "Movies": null,
                "Books": null,
                "AgeRange": null,
                "PublicRepository": null,
                "Hireable": false,
                "RepositoryUrl": null,
                "Age": null,
                "Patents": null,
                "FavoriteThings": null,
                "ProfessionalHeadline": null,
                "ProviderAccessCredential": null,
                "RelatedProfileViews": null,
                "LRUserID": null,
                "PlacesLived": null,
                "Publications": null,
                "JobBookmarks": null,
                "Suggestions": null,
                "Badges": null,
                "MemberUrlResources": null,
                "TotalPrivateRepository": 0,
                "Currency": null,
                "StarredUrl": null,
                "GistsUrl": null,
                "PublicGists": 0,
                "PrivateGists": 0,
                "Subscription": null,
                "Company": null,
                "GravatarImageUrl": null,
                "ProfileImageUrls": null,
                "WebProfiles": {
                  "Small": "https://graph.facebook.com/*****/picture?type=small",
                  "Square": "https://graph.Profile.com/*****/picture?type=square",
                  "Large": "https://graph.facebook.com/*****/picture?type=large",
                  "Profile": "https://graph.facebook.com/******/picture?type=normal"
                },
                "Uid": "xxxx",
                "CustomFields": null,
                "IsEmailSubscribed": false,
                "UserName": null,
                "PhoneId": "***********"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "LoginRadius Authentication APIs"
        ],
        "summary": "AuthResendEmailVerification",
        "description": "",
        "operationId": "AuthResendEmailVerification",
        "parameters": [
          {
            "name": "emailtemplate",
            "in": "query",
            "description": "Edit this here",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "description": "REQUIRED: Edit this in your environment",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "verificationurl",
            "in": "query",
            "description": "Edit this here",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthForgotPasswordRequest"
                  },
                  {
                    "examples": [
                      {
                        "email": "xyz@example.com"
                      }
                    ]
                  }
                ],
                "contentMediaType": "application/json"
              },
              "example": {
                "email": "xyz@example.com"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/register/captcha": {
      "post": {
        "tags": [
          "LoginRadius Authentication APIs"
        ],
        "summary": "AuthUserRegistrationbyReCaptcha",
        "description": "",
        "operationId": "AuthUserRegistrationbyReCaptcha",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "description": "REQUIRED",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "verificationurl",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "emailtemplate",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "smstemplate",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "welcomeemailtemplate",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "options",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isvoiceotp",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Cache-Control",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "no-cache"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthUserRegistrationbyReCaptchaRequest"
                  },
                  {
                    "examples": [
                      {
                        "g-recaptcha-response": "",
                        "recaptcha_response_field": "",
                        "recaptcha_challenge_field": "",
                        "qq_captcha_ticket": "",
                        "qq_captcha_randstr": "",
                        "Prefix": "",
                        "FirstName": "Test",
                        "MiddleName": null,
                        "LastName": "Account",
                        "Suffix": null,
                        "FullName": "Test Account",
                        "NickName": null,
                        "ProfileName": null,
                        "BirthDate": "10-12-1985",
                        "Gender": "M",
                        "Website": null,
                        "Email": [
                          {
                            "Type": "Primary",
                            "Value": "example@example.com"
                          }
                        ],
                        "Country": {
                          "Code": "",
                          "Name": "India"
                        },
                        "ThumbnailImageUrl": null,
                        "ImageUrl": null,
                        "Favicon": null,
                        "ProfileUrl": null,
                        "HomeTown": null,
                        "State": "Alberta",
                        "City": "Edmonton",
                        "Industry": null,
                        "About": null,
                        "TimeZone": null,
                        "LocalLanguage": null,
                        "CoverPhoto": null,
                        "TagLine": null,
                        "Positions": [
                          {
                            "Positions": "astronaut",
                            "Summary": "An astronaut.",
                            "StartDate": "",
                            "EndDate": "",
                            "IsCurrent": "",
                            "Location": "",
                            "Company": {
                              "Name": "",
                              "Type": "",
                              "Industry": ""
                            }
                          }
                        ],
                        "Educations": [
                          {
                            "School": null,
                            "year": null,
                            "type": null,
                            "notes": null,
                            "activities": null,
                            "degree": null,
                            "fieldofstudy": null,
                            "StartDate": null,
                            "EndDate": null
                          }
                        ],
                        "PhoneNumbers": [
                          {
                            "PhoneType": "Mobile",
                            "PhoneNumber": "***********"
                          }
                        ],
                        "IMAccounts": [
                          {
                            "AccountType": "personal",
                            "AccountName": "AccountName"
                          }
                        ],
                        "Addresses": [
                          {
                            "Type": "Primary",
                            "Address1": null,
                            "Address2": null,
                            "City": "Edmonton",
                            "State": "Alberta",
                            "PostalCode": null,
                            "Region": null,
                            "Country": "Canada"
                          }
                        ],
                        "MainAddress": null,
                        "LocalCity": null,
                        "ProfileCity": "Edmonton",
                        "LocalCountry": null,
                        "ProfileCountry": "Canada",
                        "IsProtected": false,
                        "RelationshipStatus": null,
                        "Quota": null,
                        "Quote": null,
                        "InterestedIn": [
                          "blah",
                          "blah"
                        ],
                        "Interests": [
                          {
                            "InterestedType": null,
                            "InterestedName": null
                          }
                        ],
                        "Religion": null,
                        "Political": null,
                        "Sports": [
                          {
                            "Id": null,
                            "Name": null
                          }
                        ],
                        "InspirationalPeople": [
                          {
                            "Id": null,
                            "Name": null
                          }
                        ],
                        "HttpsImageUrl": null,
                        "FollowersCount": 0,
                        "FriendsCount": 0,
                        "IsGeoEnabled": null,
                        "TotalStatusesCount": 0,
                        "Associations": null,
                        "NumRecommenders": 0,
                        "Honors": null,
                        "Awards": null,
                        "Skills": null,
                        "CurrentStatus": null,
                        "Certifications": null,
                        "Courses": null,
                        "Volunteer": null,
                        "RecommendationsReceived": null,
                        "Languages": null,
                        "Projects": null,
                        "Games": null,
                        "Family": null,
                        "TeleVisionShow": null,
                        "MutualFriends": null,
                        "Movies": null,
                        "Books": null,
                        "AgeRange": null,
                        "PublicRepository": null,
                        "Hireable": false,
                        "RepositoryUrl": null,
                        "Age": null,
                        "Patents": null,
                        "FavoriteThings": null,
                        "ProfessionalHeadline": null,
                        "ProviderAccessCredential": null,
                        "RelatedProfileViews": null,
                        "LRUserID": null,
                        "PlacesLived": null,
                        "Publications": null,
                        "JobBookmarks": null,
                        "Suggestions": null,
                        "Badges": null,
                        "MemberUrlResources": null,
                        "TotalPrivateRepository": 0,
                        "Currency": null,
                        "StarredUrl": null,
                        "GistsUrl": null,
                        "PublicGists": 0,
                        "PrivateGists": 0,
                        "Subscription": null,
                        "Company": null,
                        "GravatarImageUrl": null,
                        "ProfileImageUrls": null,
                        "WebProfiles": {
                          "Small": "https://graph.facebook.com/*****/picture?type=small",
                          "Square": "https://graph.Profile.com/*****/picture?type=square",
                          "Large": "https://graph.facebook.com/*****/picture?type=large",
                          "Profile": "https://graph.facebook.com/******/picture?type=normal"
                        },
                        "Password": "******",
                        "Uid": "xxxx",
                        "CustomFields": null,
                        "IsEmailSubscribed": false,
                        "UserName": null,
                        "PhoneId": "***********",
                        "PINInfo": {
                          "PIN": "",
                          "Skipped": true
                        },
                        "Consents": {
                          "Events": [
                            {
                              "Event": "Register",
                              "IsCustom": false
                            }
                          ],
                          "Data": [
                            {
                              "ConsentOptionId": "someid",
                              "IsAccepted": true
                            }
                          ]
                        }
                      }
                    ]
                  }
                ],
                "contentMediaType": "application/json"
              },
              "example": {
                "g-recaptcha-response": "",
                "recaptcha_response_field": "",
                "recaptcha_challenge_field": "",
                "qq_captcha_ticket": "",
                "qq_captcha_randstr": "",
                "Prefix": "",
                "FirstName": "Test",
                "MiddleName": null,
                "LastName": "Account",
                "Suffix": null,
                "FullName": "Test Account",
                "NickName": null,
                "ProfileName": null,
                "BirthDate": "10-12-1985",
                "Gender": "M",
                "Website": null,
                "Email": [
                  {
                    "Type": "Primary",
                    "Value": "example@example.com"
                  }
                ],
                "Country": {
                  "Code": "",
                  "Name": "India"
                },
                "ThumbnailImageUrl": null,
                "ImageUrl": null,
                "Favicon": null,
                "ProfileUrl": null,
                "HomeTown": null,
                "State": "Alberta",
                "City": "Edmonton",
                "Industry": null,
                "About": null,
                "TimeZone": null,
                "LocalLanguage": null,
                "CoverPhoto": null,
                "TagLine": null,
                "Positions": [
                  {
                    "Positions": "astronaut",
                    "Summary": "An astronaut.",
                    "StartDate": "",
                    "EndDate": "",
                    "IsCurrent": "",
                    "Location": "",
                    "Company": {
                      "Name": "",
                      "Type": "",
                      "Industry": ""
                    }
                  }
                ],
                "Educations": [
                  {
                    "School": null,
                    "year": null,
                    "type": null,
                    "notes": null,
                    "activities": null,
                    "degree": null,
                    "fieldofstudy": null,
                    "StartDate": null,
                    "EndDate": null
                  }
                ],
                "PhoneNumbers": [
                  {
                    "PhoneType": "Mobile",
                    "PhoneNumber": "***********"
                  }
                ],
                "IMAccounts": [
                  {
                    "AccountType": "personal",
                    "AccountName": "AccountName"
                  }
                ],
                "Addresses": [
                  {
                    "Type": "Primary",
                    "Address1": null,
                    "Address2": null,
                    "City": "Edmonton",
                    "State": "Alberta",
                    "PostalCode": null,
                    "Region": null,
                    "Country": "Canada"
                  }
                ],
                "MainAddress": null,
                "LocalCity": null,
                "ProfileCity": "Edmonton",
                "LocalCountry": null,
                "ProfileCountry": "Canada",
                "IsProtected": false,
                "RelationshipStatus": null,
                "Quota": null,
                "Quote": null,
                "InterestedIn": [
                  "blah",
                  "blah"
                ],
                "Interests": [
                  {
                    "InterestedType": null,
                    "InterestedName": null
                  }
                ],
                "Religion": null,
                "Political": null,
                "Sports": [
                  {
                    "Id": null,
                    "Name": null
                  }
                ],
                "InspirationalPeople": [
                  {
                    "Id": null,
                    "Name": null
                  }
                ],
                "HttpsImageUrl": null,
                "FollowersCount": 0,
                "FriendsCount": 0,
                "IsGeoEnabled": null,
                "TotalStatusesCount": 0,
                "Associations": null,
                "NumRecommenders": 0,
                "Honors": null,
                "Awards": null,
                "Skills": null,
                "CurrentStatus": null,
                "Certifications": null,
                "Courses": null,
                "Volunteer": null,
                "RecommendationsReceived": null,
                "Languages": null,
                "Projects": null,
                "Games": null,
                "Family": null,
                "TeleVisionShow": null,
                "MutualFriends": null,
                "Movies": null,
                "Books": null,
                "AgeRange": null,
                "PublicRepository": null,
                "Hireable": false,
                "RepositoryUrl": null,
                "Age": null,
                "Patents": null,
                "FavoriteThings": null,
                "ProfessionalHeadline": null,
                "ProviderAccessCredential": null,
                "RelatedProfileViews": null,
                "LRUserID": null,
                "PlacesLived": null,
                "Publications": null,
                "JobBookmarks": null,
                "Suggestions": null,
                "Badges": null,
                "MemberUrlResources": null,
                "TotalPrivateRepository": 0,
                "Currency": null,
                "StarredUrl": null,
                "GistsUrl": null,
                "PublicGists": 0,
                "PrivateGists": 0,
                "Subscription": null,
                "Company": null,
                "GravatarImageUrl": null,
                "ProfileImageUrls": null,
                "WebProfiles": {
                  "Small": "https://graph.facebook.com/*****/picture?type=small",
                  "Square": "https://graph.Profile.com/*****/picture?type=square",
                  "Large": "https://graph.facebook.com/*****/picture?type=large",
                  "Profile": "https://graph.facebook.com/******/picture?type=normal"
                },
                "Password": "******",
                "Uid": "xxxx",
                "CustomFields": null,
                "IsEmailSubscribed": false,
                "UserName": null,
                "PhoneId": "***********",
                "PINInfo": {
                  "PIN": "",
                  "Skipped": true
                },
                "Consents": {
                  "Events": [
                    {
                      "Event": "Register",
                      "IsCustom": false
                    }
                  ],
                  "Data": [
                    {
                      "ConsentOptionId": "someid",
                      "IsAccepted": true
                    }
                  ]
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/login": {
      "post": {
        "tags": [
          "LoginRadius Authentication APIs"
        ],
        "summary": "AuthLoginbyEmail",
        "description": "",
        "operationId": "AuthLoginbyEmail",
        "parameters": [
          {
            "name": "emailtemplate",
            "in": "query",
            "description": "Edit this here",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "description": "REQUIRED: Edit this in your environment",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "verificationurl",
            "in": "query",
            "description": "Edit this here",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "loginurl",
            "in": "query",
            "description": "Edit this here",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "g-recaptcha-response",
            "in": "query",
            "description": "Edit this here",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isvoiceotp",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthLoginbyEmailRequest"
                  },
                  {
                    "examples": [
                      {
                        "email": "",
                        "password": "",
                        "securityanswer": {
                          "db7****8a73e4******bd9****8c20": "Answer"
                        }
                      }
                    ]
                  }
                ],
                "contentMediaType": "application/json"
              },
              "example": {
                "email": "",
                "password": "",
                "securityanswer": {
                  "db7****8a73e4******bd9****8c20": "Answer"
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/socialidentity": {
      "post": {
        "tags": [
          "LoginRadius Authentication APIs"
        ],
        "summary": "AuthLinkSocialIdentities",
        "description": "",
        "operationId": "AuthLinkSocialIdentities",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Cache-Control",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "no-cache"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthLinkSocialIdentitiesRequest"
                  },
                  {
                    "examples": [
                      {
                        "candidatetoken": "xxxxxxxxxxxxxxxxxxxxxxx"
                      }
                    ]
                  }
                ],
                "contentMediaType": "application/json"
              },
              "example": {
                "candidatetoken": "xxxxxxxxxxxxxxxxxxxxxxx"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/socialidentity/ping": {
      "post": {
        "tags": [
          "LoginRadius Authentication APIs"
        ],
        "summary": "AuthLinkSocialIdentitiesbyClientGuid",
        "description": "",
        "operationId": "AuthLinkSocialIdentitiesbyClientGuid",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Cache-Control",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "no-cache"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthLinkSocialIdentitiesbyClientGuidRequest"
                  },
                  {
                    "examples": [
                      {
                        "clientGuid": "xxxxxxxxxxxxxxxxxxxxxxx"
                      }
                    ]
                  }
                ],
                "contentMediaType": "application/json"
              },
              "example": {
                "clientGuid": "xxxxxxxxxxxxxxxxxxxxxxx"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/username": {
      "get": {
        "tags": [
          "LoginRadius Authentication APIs"
        ],
        "summary": "AuthCheckUserNameAvailability",
        "description": "",
        "operationId": "AuthCheckUserNameAvailability",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "description": "REQUIRED: Edit this in your environment",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "query",
            "description": "REQUIRED: Edit this here",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/content-Type"
                },
                {
                  "examples": [
                    "application/x-www-form-urlencoded"
                  ]
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "LoginRadius Authentication APIs"
        ],
        "summary": "AuthSetorChangeUserName",
        "description": "",
        "operationId": "AuthSetorChangeUserName",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "description": "REQUIRED: Edit this in your environment",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "REQUIRED: Edit this in your environment",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthSetorChangeUserNameRequest"
                  },
                  {
                    "examples": [
                      {
                        "username": "xxxxxxxxxxxx"
                      }
                    ]
                  }
                ],
                "contentMediaType": "application/json"
              },
              "example": {
                "username": "xxxxxxxxxxxx"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/account": {
      "get": {
        "tags": [
          "LoginRadius Authentication APIs"
        ],
        "summary": "AuthReadallProfilesbyToken",
        "description": "",
        "operationId": "AuthReadallProfilesbyToken",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "description": "REQUIRED: Edit this in your environment",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "REQUIRED: Edit this in your environment",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "welcomeemailtemplate",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/content-Type"
                },
                {
                  "examples": [
                    "application/x-www-form-urlencoded"
                  ]
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "LoginRadius Authentication APIs"
        ],
        "summary": "AuthUpdateProfilebyToken",
        "description": "",
        "operationId": "AuthUpdateProfilebyToken",
        "parameters": [
          {
            "name": "emailtemplate",
            "in": "query",
            "description": "Edit this here",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "description": "REQUIRED: Edit this in your environment",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "REQUIRED: Edit this in your environment",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "smstemplate",
            "in": "query",
            "description": "Edit this here",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "verificationurl",
            "in": "query",
            "description": "Edit this here",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nullsupport",
            "in": "query",
            "description": "Edit this here",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "isvoiceotp",
            "in": "query",
            "description": "Edit this here",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/AuthUpdateProfilebyTokenRequest"
                  },
                  {
                    "examples": [
                      {
                        "Prefix": "",
                        "FirstName": "Test",
                        "MiddleName": null,
                        "LastName": "Account",
                        "Suffix": null,
                        "FullName": "Test Account",
                        "NickName": null,
                        "ProfileName": null,
                        "BirthDate": "10-12-1985",
                        "Gender": "M",
                        "Website": null,
                        "Email": [
                          {
                            "Type": "Primary",
                            "Value": "example@example.com"
                          }
                        ],
                        "Country": {
                          "Code": "",
                          "Name": "India"
                        },
                        "ThumbnailImageUrl": null,
                        "ImageUrl": null,
                        "Favicon": null,
                        "ProfileUrl": null,
                        "HomeTown": null,
                        "State": "Alberta",
                        "City": "Edmonton",
                        "Industry": null,
                        "About": null,
                        "TimeZone": null,
                        "LocalLanguage": null,
                        "CoverPhoto": null,
                        "TagLine": null,
                        "Positions": [
                          {
                            "Positions": "astronaut",
                            "Summary": "An astronaut.",
                            "StartDate": "",
                            "EndDate": "",
                            "IsCurrent": "",
                            "Location": "",
                            "Company": {
                              "Name": "",
                              "Type": "",
                              "Industry": ""
                            }
                          }
                        ],
                        "Educations": [
                          {
                            "School": null,
                            "year": null,
                            "type": null,
                            "notes": null,
                            "activities": null,
                            "degree": null,
                            "fieldofstudy": null,
                            "StartDate": null,
                            "EndDate": null
                          }
                        ],
                        "PhoneNumbers": [
                          {
                            "PhoneType": "Mobile",
                            "PhoneNumber": "18882052816"
                          }
                        ],
                        "IMAccounts": [
                          {
                            "AccountType": null,
                            "AccountName": null
                          }
                        ],
                        "Addresses": [
                          {
                            "Type": null,
                            "Address1": null,
                            "Address2": null,
                            "City": "Edmonton",
                            "State": "Alberta",
                            "PostalCode": null,
                            "Region": null,
                            "Country": "Canada"
                          }
                        ],
                        "MainAddress": null,
                        "LocalCity": null,
                        "ProfileCity": "Edmonton",
                        "LocalCountry": null,
                        "ProfileCountry": "Canada",
                        "IsProtected": false,
                        "RelationshipStatus": null,
                        "Quota": null,
                        "Quote": null,
                        "InterestedIn": [
                          "blah",
                          "blah"
                        ],
                        "Interests": [
                          {
                            "InterestedType": null,
                            "InterestedName": null
                          }
                        ],
                        "Religion": null,
                        "Political": null,
                        "Sports": [
                          {
                            "Id": null,
                            "Name": null
                          }
                        ],
                        "InspirationalPeople": [
                          {
                            "Id": null,
                            "Name": null
                          }
                        ],
                        "HttpsImageUrl": null,
                        "FollowersCount": 0,
                        "FriendsCount": 0,
                        "IsGeoEnabled": null,
                        "TotalStatusesCount": 0,
                        "Associations": null,
                        "NumRecommenders": 0,
                        "Honors": null,
                        "Awards": null,
                        "Skills": null,
                        "CurrentStatus": null,
                        "Certifications": null,
                        "Courses": null,
                        "Volunteer": null,
                        "RecommendationsReceived": null,
                        "Languages": null,
                        "Projects": null,
                        "Games": null,
                        "Family": null,
                        "TeleVisionShow": null,
                        "MutualFriends": null,
                        "Movies": null,
                        "Books": null,
                        "AgeRange": null,
                        "PublicRepository": null,
                        "Hireable": false,
                        "RepositoryUrl": null,
                        "Age": null,
                        "Patents": null,
                        "FavoriteThings": null,
                        "ProfessionalHeadline": null,
                        "ProviderAccessCredential": null,
                        "RelatedProfileViews": null,
                        "KloutScore": null,
                        "LRUserID": null,
                        "PlacesLived": null,
                        "Publications": null,
                        "JobBookmarks": null,
                        "Suggestions": null,
                        "Badges": null,
                        "MemberUrlResources": null,
                        "TotalPrivateRepository": 0,
                        "Currency": null,
                        "StarredUrl": null,
                        "GistsUrl": null,
                        "PublicGists": 0,
                        "PrivateGists": 0,
                        "Subscription": null,
                        "Company": null,
                        "GravatarImageUrl": null,
                        "ProfileImageUrls": null,
                        "WebProfiles": {
                          "Small": "https://graph.facebook.com/*****/picture?type=small",
                          "Square": "https://graph.Profile.com/*****/picture?type=square",
                          "Large": "https://graph.facebook.com/*****/picture?type=large",
                          "Profile": "https://graph.facebook.com/******/picture?type=normal"
                        },
                        "Uid": null,
                        "CustomFields": null,
                        "IsEmailSubscribed": false,
                        "UserName": null,
                        "PhoneId": null
                      }
                    ]
                  }
                ],
                "contentMediaType": "application/json"
              },
              "example": {
                "Prefix": "",
                "FirstName": "Test",
                "MiddleName": null,
                "LastName": "Account",
                "Suffix": null,
                "FullName": "Test Account",
                "NickName": null,
                "ProfileName": null,
                "BirthDate": "10-12-1985",
                "Gender": "M",
                "Website": null,
                "Email": [
                  {
                    "Type": "Primary",
                    "Value": "example@example.com"
                  }
                ],
                "Country": {
                  "Code": "",
                  "Name": "India"
                },
                "ThumbnailImageUrl": null,
                "ImageUrl": null,
                "Favicon": null,
                "ProfileUrl": null,
                "HomeTown": null,
                "State": "Alberta",
                "City": "Edmonton",
                "Industry": null,
                "About": null,
                "TimeZone": null,
                "LocalLanguage": null,
                "CoverPhoto": null,
                "TagLine": null,
                "Positions": [
                  {
                    "Positions": "astronaut",
                    "Summary": "An astronaut.",
                    "StartDate": "",
                    "EndDate": "",
                    "IsCurrent": "",
                    "Location": "",
                    "Company": {
                      "Name": "",
                      "Type": "",
                      "Industry": ""
                    }
                  }
                ],
                "Educations": [
                  {
                    "School": null,
                    "year": null,
                    "type": null,
                    "notes": null,
                    "activities": null,
                    "degree": null,
                    "fieldofstudy": null,
                    "StartDate": null,
                    "EndDate": null
                  }
                ],
                "PhoneNumbers": [
                  {
                    "PhoneType": "Mobile",
                    "PhoneNumber": "18882052816"
                  }
                ],
                "IMAccounts": [
                  {
                    "AccountType": null,
                    "AccountName": null
                  }
                ],
                "Addresses": [
                  {
                    "Type": null,
                    "Address1": null,
                    "Address2": null,
                    "City": "Edmonton",
                    "State": "Alberta",
                    "PostalCode": null,
                    "Region": null,
                    "Country": "Canada"
                  }
                ],
                "MainAddress": null,
                "LocalCity": null,
                "ProfileCity": "Edmonton",
                "LocalCountry": null,
                "ProfileCountry": "Canada",
                "IsProtected": false,
                "RelationshipStatus": null,
                "Quota": null,
                "Quote": null,
                "InterestedIn": [
                  "blah",
                  "blah"
                ],
                "Interests": [
                  {
                    "InterestedType": null,
                    "InterestedName": null
                  }
                ],
                "Religion": null,
                "Political": null,
                "Sports": [
                  {
                    "Id": null,
                    "Name": null
                  }
                ],
                "InspirationalPeople": [
                  {
                    "Id": null,
                    "Name": null
                  }
                ],
                "HttpsImageUrl": null,
                "FollowersCount": 0,
                "FriendsCount": 0,
                "IsGeoEnabled": null,
                "TotalStatusesCount": 0,
                "Associations": null,
                "NumRecommenders": 0,
                "Honors": null,
                "Awards": null,
                "Skills": null,
                "CurrentStatus": null,
                "Certifications": null,
                "Courses": null,
                "Volunteer": null,
                "RecommendationsReceived": null,
                "Languages": null,
                "Projects": null,
                "Games": null,
                "Family": null,
                "TeleVisionShow": null,
                "MutualFriends": null,
                "Movies": null,
                "Books": null,
                "AgeRange": null,
                "PublicRepository": null,
                "Hireable": false,
                "RepositoryUrl": null,
                "Age": null,
                "Patents": null,
                "FavoriteThings": null,
                "ProfessionalHeadline": null,
                "ProviderAccessCredential": null,
                "RelatedProfileViews": null,
                "KloutScore": null,
                "LRUserID": null,
                "PlacesLived": null,
                "Publications": null,
                "JobBookmarks": null,
                "Suggestions": null,
                "Badges": null,
                "MemberUrlResources": null,
                "TotalPrivateRepository": 0,
                "Currency": null,
                "StarredUrl": null,
                "GistsUrl": null,
                "PublicGists": 0,
                "PrivateGists": 0,
                "Subscription": null,
                "Company": null,
                "GravatarImageUrl": null,
                "ProfileImageUrls": null,
                "WebProfiles": {
                  "Small": "https://graph.facebook.com/*****/picture?type=small",
                  "Square": "https://graph.Profile.com/*****/picture?type=square",
                  "Large": "https://graph.facebook.com/*****/picture?type=large",
                  "Profile": "https://graph.facebook.com/******/picture?type=normal"
                },
                "Uid": null,
                "CustomFields": null,
                "IsEmailSubscribed": false,
                "UserName": null,
                "PhoneId": null
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "LoginRadius Authentication APIs"
        ],
        "summary": "AuthDeleteAccountwithEmailConfirmation",
        "description": "",
        "operationId": "AuthDeleteAccountwithEmailConfirmation",
        "parameters": [
          {
            "name": "emailtemplate",
            "in": "query",
            "description": "Edit this here",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "description": "REQUIRED: Edit this in your environment",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "REQUIRED: Edit this in your environment",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deleteurl",
            "in": "query",
            "description": "Edit this here",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "text/plain": {
              "schema": {
                "contentMediaType": "text/plain"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/privacypolicy/accept": {
      "get": {
        "tags": [
          "LoginRadius Authentication APIs"
        ],
        "summary": "AuthPrivacyPolicyAccept",
        "description": "",
        "operationId": "AuthPrivacyPolicyAccept",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Cache-Control",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "no-cache"
              ]
            }
          },
          {
            "name": "content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/content-Type"
                },
                {
                  "examples": [
                    "application/x-www-form-urlencoded"
                  ]
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/account/sendwelcomeemail": {
      "get": {
        "tags": [
          "LoginRadius Authentication APIs"
        ],
        "summary": "AuthSendWelcomeEmail",
        "description": "",
        "operationId": "AuthSendWelcomeEmail",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "welcomeemailtemplate",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Cache-Control",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "no-cache"
              ]
            }
          },
          {
            "name": "content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/content-Type4"
                },
                {
                  "examples": [
                    "application/json"
                  ]
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/access_token/Validate": {
      "get": {
        "tags": [
          "LoginRadius Authentication APIs"
        ],
        "summary": "AuthValidateAccesstoken",
        "description": "",
        "operationId": "AuthValidateAccesstoken",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "description": "REQUIRED: Edit this in your environment",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "REQUIRED: Edit this in your environment",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/content-Type"
                },
                {
                  "examples": [
                    "application/x-www-form-urlencoded"
                  ]
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/access_token": {
      "get": {
        "tags": [
          "LoginRadius Authentication APIs"
        ],
        "summary": "AuthAccessTokenInfo",
        "description": "",
        "operationId": "AuthAccessTokenInfo",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Cache-Control",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "no-cache"
              ]
            }
          },
          {
            "name": "content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/content-Type"
                },
                {
                  "examples": [
                    "application/x-www-form-urlencoded"
                  ]
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/account/delete": {
      "get": {
        "tags": [
          "LoginRadius Authentication APIs"
        ],
        "summary": "AuthDeleteAccount",
        "description": "",
        "operationId": "AuthDeleteAccount",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "deletetoken",
            "in": "query",
            "description": "",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Cache-Control",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "type": "string",
              "examples": [
                "no-cache"
              ]
            }
          },
          {
            "name": "content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/content-Type"
                },
                {
                  "examples": [
                    "application/x-www-form-urlencoded"
                  ]
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/access_token/InValidate": {
      "get": {
        "tags": [
          "LoginRadius Authentication APIs"
        ],
        "summary": "AccessTokenInvalidate",
        "description": "",
        "operationId": "AccessTokenInvalidate",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "description": "REQUIRED: Edit this in your environment",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "REQUIRED: Edit this in your environment",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/content-Type"
                },
                {
                  "examples": [
                    "application/x-www-form-urlencoded"
                  ]
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/securityquestion/accesstoken": {
      "get": {
        "tags": [
          "LoginRadius Authentication APIs"
        ],
        "summary": "GetSecurityQuestionsByAccessToken",
        "description": "",
        "operationId": "GetSecurityQuestionsByAccessToken",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "description": "REQUIRED: Edit this in your environment",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "access_token",
            "in": "query",
            "description": "REQUIRED: Edit this in your environment",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/content-Type"
                },
                {
                  "examples": [
                    "application/x-www-form-urlencoded"
                  ]
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/securityquestion/email": {
      "get": {
        "tags": [
          "LoginRadius Authentication APIs"
        ],
        "summary": "GetSecurityQuestionsByEmail",
        "description": "",
        "operationId": "GetSecurityQuestionsByEmail",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "description": "REQUIRED: Edit this in your environment",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "REQUIRED: Edit this here",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "content-Type",
            "in": "header",
            "description": "",
            "required": true,
            "style": "simple",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/content-Type"
                },
                {
                  "examples": [
                    "application/x-www-form-urlencoded"
                  ]
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {},
            "content": {}
          }
        },
        "deprecated": false
      },
      "parameters": []
    },
    "/securityquestion/username": {
      "get": {
        "tags": [
          "LoginRadius Authentication APIs"
        ],
        "summary": "GetSecurityQuestionsByUserName",
        "description": "",
        "operationId": "GetSecurityQuestionsByUserName",
        "parameters": [
          {
            "name": "apikey",
            "in": "query",
            "description": "REQUIRED: Edit this in your environment",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
[...]
