# Age Verification


LoginRadius provides you with the capability to implement an Age Verification rule, ensuring compliance with age restrictions. When Age Verification is enabled, you can specify the required age for your users. The registration form will prompt users to enter their date of birth, and if they are below the specified age, they will be prevented from registering, accompanied by an error message.


![enter image description here](https:/https://apidocs.lrcontent.com/images/Age-Varification-V01-01-02_217515b744c1a8588a4.57415406.png "enter image title here")


**Considerations:**

1. Existing users cannot update their age to fall below the specified age restriction.

2. The use of our APIs will override age verification, allowing registration and age updates via the APIs, even for users below the specified age restriction.

**To set up an Age Verification rule, follow these steps:**

1. Navigate to your LoginRadius Admin Console.
2. Go to [Data Governance > Trust Center > Privacy Center](https://adminconsole.loginradius.com/data-governance/trust-center/privacy-center/age-verification).
3. Locate the **"Minimum Age required to sign up"** box and enter the desired age.

![enter image description here](https:/https://apidocs.lrcontent.com/images/AgeVerification_1572094314659f11f2c28887.22256394.png "enter image title here")

4. Click on the Save button to save the settings.

>**Note:** To enable Age Verification please [contact LoginRadius](https://adminconsole.loginradius.com/support/tickets/open-a-new-ticket).
